<!DOCTYPE html>
<html lang="en">
<head>
    <title>MEAN demo 8</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="http://www.stream2watch.cc/images/categories/4/64x64/14616606297074.png">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="js/frontend_app.js"></script>

</head>
<body ng-app="employees">
    <h1>demo</h1>
<div ng-controller="data_employees">

<table class="table">
    <thead>
        <tr>
            <th>employee</th>
        </tr>
    </thead>
    <tbody ng-repeat="employee in employees">
        <tr>
            <td>
                <a href="/employee/{{employee._id}}">{{employee.name}}: {{employee.gender}}</a>
            </td>
        </tr>
    </tbody>
</table>


</div>

</body>
</html>
